* {
    box-sizing: border-box;
   
}


body{
    background-color: antiquewhite;
    padding-left: 1%;
}

h4{
    font-weight:bolder ;
    font-size: larger;
}

a:active {
    /* color: rgb(0, 34, 128); */
    color: red;
  }
a:visited {
    /* color: rgb(0, 34, 128); */
    /* color: blue; */
  }